@import "tailwindcss";

body {
  font-family: 'Quicksand','Nunito', 'sans-serif';
  background-color: #fafafa;
  color: #2D3748; 
  overflow-x: hidden;
}
        
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #EA5B6F44;
  border-radius: 10px;
}

.text-shadow-sm {
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

* {
  scroll-behavior: smooth;
}

/* Responsive adjustments for large buttons */
@media (max-width: 640px) {
  .nav-label { display: none; }
}
@media (max-width: 480px) {
  .fixed-button {
    padding: 1.25rem; /* smaller padding */
    border-radius: 2rem; /* smaller border radius */
  }
}

@theme {
  --font-sans: 'Quicksand', 'Nunito', sans-serif;
  --color-primary: #EA5B6F;
  --color-secondary: #FF894F;
  --color-accent: #FFCB61;
  --color-muted: #FAFAFA;
  --color-info: #77BEF0;
}